@import "./_variables.scss";


.body{
    width: 80%;
    margin: 0 auto;
    padding: 1rem 0rem 5rem 0rem;
}

.top-header-box{
    display: flex;
    color: $header;
    width: 100%;

    .back-btn{
        @include icon-btn;
        margin-right:1.5%;
        width: 7%;
        position: relative;

        .back-icon{
            @include icon(2rem);
            position: absolute;
            top: 5%;
            left: 0;
        }
    }

    
}

.main{
    width: 90%;
    font-size: $basefont * 0.9;

    .page-header{
        font-size: $basefont * 1.5;
        font-weight: bold;
        margin-bottom: 0.5rem;
    }
    
    .top-explainer{
        color: $text;
        margin-bottom: 2rem;
    }

}

.card-header{
    font-size: $basefont * 1.1;
    font-weight: bold;
    margin-bottom: 1rem;
    margin-Top: 0rem;
}

// services card section

.services-card{
    @include card;

    .services{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        grid-template-rows: auto auto;
        grid-auto-rows: auto;
        grid-gap: 1rem;

        .card-item{
            padding: 0.6rem 1.3rem;
            border: 1px solid $text;
            border-radius: $curve;
            position: relative;
            color: $text;
            cursor: pointer;
            overflow: hidden;
            
            .card-icon{
                position: absolute;
                bottom: -20%;
                right: -4%;
                @include icon(5rem);
                color: $text;
            }

            &:hover{
                color: white !important;
                background: $blue !important;
                border: 1px solid $blue !important;

                .card-icon{
                    color: white !important;
                }
            }

        }

        .active{
            color: white !important;
            background: $blue !important;
            border: 1px solid $blue !important;

            .card-icon{
                color: white !important;
            }
        }
    }

}

// location card section
.location-card{
    @include card;

    .info-icon{
        @include icon(1.5rem);
    }

    .loc-content-1{
        display: grid;
        grid-template-columns: 100%;
        gap: 5%;

        .loc-item-1{
            display: flex;
            border: 1px solid $border;
            border-radius: $curve;

            .import{
                @include impexp;
                border-right: 1px solid $border !important;
            }
            .export{
                @include impexp;
                
            }
        }
        .loc-item-2{
            position: relative;

            .grayinputs{
                width: 76%;
                padding: 5% 2% 5% 22%;
                @include greyinputs;
            }

            .adornment{
                @include adornment;
                
            }
        }
        .loc-item-3{
            position: relative;

            .grayinputs{
                width: 83.5%;
                padding: 5% 2% 5% 15%;
                @include greyinputs;
            }

            .adornment{
                @include adornment;
            }
        }
    }

    .loc-content-2{
        display: grid;
        grid-template-columns: 100%;
        gap: 10%;

        .item-1{
            position: relative;

            .grayinputs{
                width: 88%;
                padding: 5% 2% 5% 12%;
                @include greyinputs;
            }

            .adornment{
                top: 28% !important;
                left: 4% !important;
                @include adornment;

                .adorn-icon{
                    @include icon(1rem);
                }
            }
        }
        .item-2{
            .grayinputs{
                width: 100%;
                padding: 5% 2%;
                @include greyinputs;
            }
        }
        .item-3{
            .grayinputs{
                width: 100%;
                padding: 5% 2%;
                @include greyinputs;
            }
        }
    }

}


// cargo card section
.cargo-card{
    @include card;

    .cargo-top{
        @include flex-center;
        justify-content: space-between;
        margin-bottom: 3rem;

        .toggle-box{
            @include flex-center;
            align-content: center;

            .toggle-on-btn{
                @include icon-btn;
                margin-right: 5px;
                .toggle-on-icon{
                    @include icon(1.8rem);
                    color: $blue;
                }
            }
            
        }
    }

    .tabs{
        display: flex;
        background: $inputbg;
        width: 40%;
        border-radius: 7px;
        padding:  5px 4px;
        margin-bottom: 2rem;

        .dim{
            width: 50%; 
            padding: 3%;
            border: none;
            background: white;
            border-radius: 8px;
            cursor: pointer;
            color: $blue;
        }
        .details{
            width: 50%;
            border: none;
            padding: 3%;
            background: transparent;
            outline: none;
            cursor: pointer;
            color: $text;
        }
    }

    .textfields-box{
        @include flex-center;
        width: 50%;

        .first-input{
            width: 40%;
            margin-right: 8%;
            position: relative;
            margin-bottom: 1rem;
            padding-top: 1rem;

            .label{
                position: absolute;
                top: 7%;
                left: 3%;
                padding: 4px;
                background: white;
                color: $header;
                pointer-events: none;
            }

            .unit{
                position: absolute;
                top: 32%;
                right: 0;
                color: $text;
            }

            .field{
                border: 1px solid $border;
                border-radius: $curve;
                padding: 7% 4% 7% 4%;
                background: transparent;
                width: 100%;
                

                &:focus{
                    outline: none;
                }
            }

            
        }
        .second-input{
            width: 40%;
            position: relative;

            .label{
                position: absolute;
                top: -20%;
                left: 3%;
                padding: 4px;
                background: white;
                color: $header;
                pointer-events: none;
            }

            .unit{
                position: absolute;
                top: 32%;
                right: 0;
                color: $text;
            }

            .field{
                border: 1px solid $border;
                border-radius: $curve;
                padding: 7% 4% 7% 4%;
                background: transparent;
                width: 100%;
                

                &:focus{
                    outline: none;
                }
            }

        }

    }

}


// additional services card section
.add-card{
    @include card;

    .top{
        display: flex;
        flex-direction: row;

        .first-row{
            display: flex;
            align-items: flex-start;
            width: 50%;
            margin-bottom: 1.5rem;
            padding-left:1rem;
            color: $text;
    
            .card-header{
                margin-bottom: 0rem !important;
                padding-top: 4px !important;
                color: $header;
            }
    
            .toggle-on-btn{
                @include icon-btn;
                margin-right: 6px;
                .toggle-on-icon{
                    @include icon(2rem);
                    color: $text;
                }
            }
        }
    }
}

// media queries
// MQ for all screens that are not mobile screens
@media screen and (min-width: 769px) {
    .loc-content-1{
        display: grid;
        grid-template-columns: 20% 35% 35% !important;
        gap: 5% !important;
    }

    .loc-content-2{
        display: grid;
        grid-template-columns: 30% 30% 30% !important;
        gap: 5% !important;
    }
    
}

// MQ for large screens only
@media screen and (min-width: 1024px) {
    .item-3{
        .grayinputs{
            width: 95% !important;
            padding: 5% 3% !important;
        }
    }
}

// MQ for IPAD screens
@media screen and (min-width: 768px ) and (max-width: 769px) {
    .loc-item-2{

        .adornment{
            top: 20% !important;
        }
    }
    .loc-item-3{

        .adornment{
            top: 20% !important;
        }
    }

    .loc-content-2{

        .item-1{

            .grayinputs{
                width: 87% !important;
            }

        }
        .item-2{
            width: 100% !important;
        }
        .item-3{
            .grayinputs{
                width: 97% !important;
            }
        }
    }
}

// MQ for medium screens
@media screen and (min-width: 769px ) and (max-width: 1024px) {
    .body{
        width: 90%;
    }

    .loc-item-2{
        .grayinputs{
            width: 69% !important;
            padding: 5% 2% 5% 30% !important;
        }

        .adornment{
            top: 10% !important;
        }
    }
    .loc-item-3{
        .grayinputs{
            width: 79.5% !important;
            padding: 5% 2% 5% 20% !important;
        }

        .adornment{
            top: 10% !important;
        }
    }

    .loc-content-2{
        .item-1{

            .grayinputs{
                width: 88% !important;
                padding: 5% 2% 5% 12% !important;
            }
        }
        .item-2{
            .grayinputs{
                width: 100% !important;
                padding: 5% 3% !important;
            }
        }
        .item-3{
            .grayinputs{
                width: 95% !important;
                padding: 5% 3% !important;
            }
        }
    }

    
}

// MQ for small screens
@media screen and (max-width: 767px) {
    .body{
        width: 93%;
    }

    .back-btn{
        width: 5%;
    }

    .location-card{
        padding-bottom: 3.5rem !important;
    }

    .loc-content-1{
        gap: 10% !important;
        margin-bottom: 3rem !important;
    }

    .loc-item-2{
        .grayinputs{
            width: 67% !important;
            padding: 5% 2% 5% 30% !important;
        }

        .adornment{
            top: 14% !important;
        }
    }
    .loc-item-3{
        .grayinputs{
            width: 77% !important;
            padding: 5% 2% 5% 20% !important;
        }

        .adornment{
            top: 12.5% !important;
        }
    }

    .loc-content-2{

        .item-1{
            position: relative;

            .grayinputs{
                width: 85.5% !important;
            }
        }
        .item-2{
        }
        .item-3{
            .grayinputs{
                width: 96% !important;
            }
        }
    }

    .cargo-top{
        justify-content: flex-start;
        flex-direction: column;
        align-items: flex-start !important;

    }

    .tabs{
        width: 100% !important;
    }

    .textfields-box{
        align-items: flex-start !important;
        flex-direction: column;
        width: 100% !important;

        .first-input{
            width: 100% !important;
            margin-right: 0 !important;

            .field{
                width: 93% !important;
                padding-top: 4% !important;
                padding-bottom: 4% !important;
            }

            
        }
        .second-input{
            width: 100% !important;

            .field{
                width: 93% !important;
                padding-top: 4% !important;
                padding-bottom: 4% !important;
            }
        }

    }

    .top{
        flex-direction: column !important;
        .first-row{
            width: 100% !important;
        }
    }
   
}