@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&display=swap');
@import "./_navbar.scss";
@import "./_body.scss";

// General styles
*{
    font-family: $montserrat;
}

html, body, .home{
    height: 100%;
    margin:0;
    padding:0;
    font-size: $basefont;
    position: relative;
    box-sizing: border-box;
    background-color: #f1f2f6;
}






